<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="xunit.diagnosticMessages" value="false"/>
    <add key="xunit.parallelizeTestCollections" value="false"/>
    <add key="xunit.shadowCopy" value="false"/> <!-- Set shadow copy to false so that the VS Test Explorer can properly load our public signed binaries -->
    <add key="xunit.longRunningTestSeconds" value="10"/>
  </appSettings>
</configuration>
