# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~

# Binary files
*.exe 
*.dbg 
*.pcb 
*.ncb 
*.swp 
*.snk 
*.pdb 
*.msi 

# Project Files
*.user
*.suo
*.db 

# Directories 
*/obj/
*/bin/
*/TestResults/ 
*/Debug/
*/Release/


