# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~

# Binary files
*.exe 
*.dbg 
*.pcb 
*.ncb 
*.swp 
*.snk 
*.sdf
*.pdb 
*.msi 
*.vspx
*.mdf
*.ldf
*.opendb
Thumbs.db
telemetry.txt

# Project Files
*.user
*.suo
*.db 
*.psess
TestResult.xml

# Extra files to be ignored
*.VisualState.xml
*.DotSettings

# Resharper
_ReSharper.*
_ReSharper.VsVim

# Productivity Power Tools
*.docstates

# Roslyn
VimAll.sln.ide/
VimCore.sln.ide/
VsVim.sln.ide/
vbcs.cache/
.vs/

# Place where dogfood drops get put into. 
Dogfood/

# This solution uses NuGet package restore so don't check in
# the actual binaries
packages/

# Ignore the Delpoy directory. This is where the deploy script
# checks in a vsix that is deployable
Deploy/

# Ignore NCrunch files for the moment.  Still experimenting and
# don't want to put them in there just yet
*ncrunchproject
*ncrunchsolution
*crunchsolution.cache

# Directories 
Debug/
Release/
bin/
obj/
TestsResults/

# Copied into a source directory for ease of build
VsVim.Vs2012.dll
VsVim.Vs2012.pdb
VsVim.Vs2013.dll
VsVim.Vs2013.pdb

# Profiling Output
*.vsp

