trigger:
- master

pr:
- dev/jaredpar/*
- master

# Standard CI loop (build and test). This will run against VS2017 and VS2019
jobs:
- job: macOS
  pool:
    vmImage: 'macOS-10.14'
  steps:
  - script: msbuild /p:Configuration=ReleaseMac

- job: VsVim_Build_Test
  pool: 
    vmImage: 'vs2017-win2016'

  strategy:
    maxParallel: 3
    matrix:
      Vs2015:
        _testConfig: 14.0
        _name: Vs2015
      Vs2017:
        _testConfig: 15.0
        _name: Vs2017
      Vs2019:
        _testConfig: 16.0
        _name: Vs2019

  steps:

  - task: PowerShell@2
    displayName: Build 
    inputs:
      filePath: Scripts\Build.ps1
      arguments: -ci -config Debug -build -testConfig $(_testConfig)

  - task: PowerShell@2
    displayName: Test
    inputs:
      filePath: Scripts\Build.ps1
      arguments: -ci -config Debug -test

  - task: PowerShell@2
    displayName: Test Extra
    inputs:
      filePath: Scripts\Build.ps1
      arguments: -ci -config Debug -testExtra

  - task: PublishPipelineArtifact@0
    displayName: Publish Logs
    inputs:
      targetPath: '$(Build.SourcesDirectory)\Binaries\Logs'
      artifactName: 'Logs $(_name)'
    condition: always()

  - task: PublishTestResults@2
    displayName: Publish xUnit Test Results
    inputs:
      testRunner: XUnit
      testResultsFiles: '$(Build.SourcesDirectory)\Binaries\xUnitResults\*.xml'
      mergeTestResults: true
      testRunTitle: 'VsVim Test Results $(_name)'
    condition: always()

# This job is meant for building a Release VSIX for consumption and 
# publishing it to two locations:
#   - An Azure DevOps artifact for easy download / use on PR or CI
#   - The Open VSIX gallery during CI
- job: Produce_Vsix
  pool: 
    vmImage: 'vs2017-win2016'

  steps:
  - task: PowerShell@2
    displayName: Build 
    inputs:
      filePath: Scripts\Build.ps1
      arguments: -ci -build -updateVsixVersion -config Release

  - task: PublishPipelineArtifact@0
    displayName: Publish Vsix 
    inputs:
      targetPath: '$(Build.SourcesDirectory)\Binaries\Deploy'
      artifactName: 'Vsix'

  - task: PowerShell@2
    displayName: Publish to Open VSIX Gallery
    inputs:
      filePath: Scripts\Build.ps1
      arguments: -ci -uploadVsix -config Release
    condition: and(succeeded(), eq(variables['Build.SourceBranchName'], 'master'))

