# This is a basic workflow to help you get started with Actions

name: VsVim CI

on:
  push:
    branches: [ "master", "main" ]
    tags:
      - '*'
  pull_request:
    branches: [ "master", "main", "dev/gha" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  windows-build:
    name: Windows Build and Test
    runs-on: windows-2022

    steps:
      - uses: actions/checkout@v3

      - name: Build
        shell: powershell
        run: Scripts\Build.ps1 -ci -config Debug -build 

      - name: Test
        shell: powershell
        run: Scripts\Build.ps1 -ci -config Debug -test

      - name: Test Extra
        shell: powershell
        run: Scripts\Build.ps1 -ci -config Debug -testExtra

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Logs
          path: Binaries\Logs

  # This job is meant for building a Release VSIX for consumption and 
  # publishing it to two locations:
  #   - An Azure DevOps artifact for easy download / use on PR or CI
  #   - The Open VSIX gallery during CI
  windows-publish:
    name: Publish VSIX
    runs-on: windows-2022

    steps:
      - uses: actions/checkout@v3

      - name: Build VSIX
        shell: powershell
        run: Scripts\Build.ps1 -ci -build -updateVsixVersion -config Release

      - name: Upload VSIX Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Vsix
          path: Binaries\Deploy

      - name: Publish VSIX to Open VSIX Gallery
        shell: powershell
        run: Scripts\Build.ps1 -ci -uploadVsix -config Release
        if: ${{ success() && github.ref == 'refs/heads/master' }}

  macos-build:
    name: MacOS Build and Publish
    runs-on: macOS-11

    steps:
      # Must use fetch-depth 0 because the workflow requires that tags be present
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set VERSION_TAG
        run: echo "VERSION_TAG=`git describe --tags`" >> $GITHUB_ENV

      - name: Set EXTENSION_VERSION
        run: echo "EXTENSION_VERSION=`grep Version Src/VimMac/Properties/AddinInfo.cs | cut -d '\"' -f2`" >> $GITHUB_ENV

      - name: Build
        run: Scripts/build.sh

      - name: Publish mpack
        uses: actions/upload-artifact@v4
        with:
          name: VSMacExtension
          path: 'Binaries/Debug/VimMac/net7.0/Vim.Mac.VsVim_${{ env.EXTENSION_VERSION }}.mpack'

      - name: Create VS Mac extension release
        uses: softprops/action-gh-release@v1
        id: vsmac_release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
        with:
          tag_name: ${{ env.VERSION_TAG }}
          name: 'Visual Studio for Mac ${{ env.VERSION_TAG }}'
          draft: false
          generate_release_notes: true
          files: 'Binaries/Debug/VimMac/net7.0/Vim.Mac.VsVim_${{ env.EXTENSION_VERSION }}.mpack'
        if: ${{ success() && startsWith(github.ref, 'refs/tags') && contains(github.ref, 'vsm') }}
